body{
    margin: 0 0 55px 0;
}
*{
    margin: auto;
    padding: 0;
    font-family: 'Lucida Sans Unicode';

}
.header {
    text-align: center;
    background: white;
    top: 0;
    width: 100%;
    max-height: 10%;
    position: sticky;
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.2);
}
img {
    max-width: 32%;
    height: auto;
    display: block;
}


.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 10px rgba(0, 0 ,0, 0.2);
    background: #a4c2f4ff;
    justify-content: space-between;
    /*align-items: center;*/
    overflow: hidden;
    /*white-space: nowrap;*/
    display: flex;
    overflow-x: auto;
    font-style: italic;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}
.nav:hover { 
    background-color: #9ca9f5;
}

.pgTitle {
    font-size: 20px;
}

.next {
    right: 10px;
    position: fixed;
    bottom: 105px;
    margin: 15px;
}


